@use "../static/smui.css";
@use "@material/theme/color-palette";

:root {
  --color-green: #2aa876;
  --color-light-green: #aed581;
  --color-black: #222;

  --color-background: var(--color-black);
  --color-link: var(--color-light-green);
  --color-border: var(--color-light-green);

  --color-ok: #2aa876;
  --color-err: #f36262;
  --color-warn: #eea14a;
  --color-info: #57a0f3;
  --color-bg-ok: #023502;
  --color-bg-err: #380505;
  --color-grey: #888;

  --theme-primary: var(--color-light-green);

  // --color-background-surface2: rgb(42, 46, 57);
  // --color-primary: #fff;
  // --color-secondary: #8b90a5;
  // --theme-primary: #d295ba;
  // --bright-border: var(--theme-primary);
  // --bright-blue: #336fbc;
  // --selected-foreground: #81b4f3;
  // --selected-background: rgba(15, 24, 145, 0.4);
  // --frame-background: #281c4a;
  // --sell-color: #ff4d6d;
  // --sell-bg-color: rgba(255, 77, 109, 0.3);
  // --buy-color: #94f9bd;
  // --buy-bg-color: rgba(148, 249, 189, 0.3);
  // --order-hover: #59595951;
  // --button-bg-color: rgba(38, 39, 42, 0.6);
  // --button-bg-color-bright: rgba(188, 190, 200, 0.6);
  // --primary-bg: #26272a;
  // --ok-color: rgb(103, 247, 103);
  // --text-shadow-with-bg: 1px 1px 3px rgba(0, 0, 0, 0.6),
  //   1px -1px 3px rgba(0, 0, 0, 0.6), -1px 1px 3px rgba(0, 0, 0, 0.6),
  //   -1px -1px 3px rgba(0, 0, 0, 0.6);
}

// Material theme
:root {
  --mdc-theme-primary: var(--theme-primary);
  --mdc-outlined-button-outline-color: var(--theme-primary);
  --mdc-theme-surface: var(--color-black);
  --mdc-theme-on-surface: #fff;
  --mdc-outlined-button-disabled-label-text-color: var(--color-grey);
  --mdc-outlined-button-disabled-outline-color: var(--color-grey);

  .mdc-button {
    font-weight: 600;
  }

  .mdc-button__icon {
    margin: 0;
  }

  .mdc-tab__text-label {
    color: #fff;
  }

  .mdc-snackbar {
    z-index: 1000;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: DIN2014-Demi, sans-serif;
  font-size: 16px;
  color: white;
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;

  &.link {
    color: var(--color-link);
  }
}

h5 {
  margin: 0;
  font-size: 1.2rem;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

input {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  background: transparent;
  color: white;
  border: 0.125rem solid lightgray;
  border-radius: 0.4rem;
  padding: 0.4rem;
  font-size: 1rem;

  option {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2.4rem 0;
  }

  &.readonly {
    cursor: default;
    border-color: gray;
  }
}

svg:focus {
  outline: unset;
}
