---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/Hero.astro";
import Features from "@/components/Features.astro";
import HowToPlay from "@/components/HowToPlay.astro";
import Roadmap from "@/components/Roadmap.astro";
import FAQ from "@/components/FAQ.astro";
import CTA from "@/components/CTA.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <HowToPlay />
    <Roadmap />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
